# Mongo DB URI
DATABASE_URL = "your_mongodb_connection_string"

# Auto Generated in Auth.js
AUTH_SECRET  = "your_auth_secret"

# Github
AUTH_GITHUB_ID =  Client Id
AUTH_GITHUB_SECRET = your_github_secret

# Google 
AUTH_GOOGLE_ID = your_google_client_id
AUTH_GOOGLE_SECRET = GOCSPX-your_google_secret-dPd
